/* Imports */
@import './variables.scss';
@import './typographi.scss';

/* Resets */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

header{
    padding: 1rem 0;
    background-color: $background-color-1;
    a,.btn-contact{
        color: $white;
    }
}

.hero{
    padding: 150px 0 130px;
    background-color: $background-color-1;
    .text-left{
        max-width: 582px;
        .btn-view{
            background-color: $background-color-2;
            padding: 0 3.5rem;
        }
    }
    .ilustration{
        max-width: 638px;
    }
}

.how-work{
    padding: 130px 0;
    background-color: $background-color-3;
}

.text-left{
    max-width: 400px;
    p{
        color:$color-text-1;
    }
    a{
        color: $color-text-2;
    }
}

.right-grid{
    max-width: 700px;
    .item-grid{
        max-width: 303px;
        img{
            width: 50px;
        }
    }
}

@mixin gradiente-blue($width){
    content: '';
        background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
        position: absolute;
        height: 100%;
        width:$width;
        z-index: 1;
}

.view-projects{
    padding: 128px 0 150px;
    .header{
        margin-bottom: 4rem;
    }
    .image-large{
        &::before{
            @include gradiente-blue(50%);
        }
        position: relative;
        .text{
            position: absolute;
            z-index: 2;
            bottom: 76px;
            left: 48px;
            max-width: 313px;
            a{
                color: $background-color-2;
            }
        }
    }
    .content-cards{
        .mini-card{
            position: relative;
            &::before{
                @include gradiente-blue(100%);
            }
        }
        .text{
            position: absolute;
            bottom: 42px;
            left: 56px;
            max-width: 250px;
            z-index: 2;
            a{
                color: $background-color-2;
            }
        }
    }
}

.services{
    padding: 128px 0;
    background-color: $background-color-3;
    h2{
        max-width: 630px;
    }
    .item-card{
        width: 100%;
        max-width: 25.3125rem;
        background-color: $white;
    }
}