/* Imports */
@import './variables.scss';
@import './typographi.scss';

/* Resets */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: $color-text-1;
}

html,body{
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
}

header{
    padding: 1rem 0;
    background-color: $background-color-1;
    a,.btn-contact{
        color: $white;
    }
}

.hero{
    padding: 9.375rem 0 8.125rem;
    background-color: $background-color-1;
    .text-left{
        max-width: 36.375rem;
        .btn-view{
            background-color: $background-color-2;
            padding: 0 3.5rem;
        }
    }
    .ilustration{
        max-width: 39.875rem;
    }
}

.how-work{
    padding: 8.125rem 0;
    background-color: $background-color-3;
}

.text-left{
    max-width: 25rem;
    a{
        color: $color-text-2;
    }
}

.right-grid{
    max-width: 43.75rem;
    .item-grid{
        max-width: 18.9375rem;
        img{
            width: 3.125rem;
        }
    }
}

@mixin gradiente-blue($width){
    content: '';
        background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
        position: absolute;
        height: 100%;
        width:$width;
        z-index: 1;
}

.view-projects{
    padding: 8rem 0 9.375rem;
    .header{
        margin-bottom: 4rem;
    }
    .image-large{
        &::before{
            @include gradiente-blue(50%);
        }
        position: relative;
        .text{
            position: absolute;
            z-index: 2;
            bottom: 4.75rem;
            left: 3rem;
            max-width: 19.5625rem;
            a{
                color: $background-color-2;
            }
        }
    }
    .content-cards{
        .mini-card{
            position: relative;
            &::before{
                @include gradiente-blue(100%);
            }
        }
        .text{
            position: absolute;
            bottom: 2.625rem;
            left: 3.5rem;
            max-width: 15.625rem;
            z-index: 2;
            a{
                color: $background-color-2;
            }
        }
    }
}

.services{
    padding: 8rem 0;
    background-color: $background-color-3;
    h2{
        max-width: 39.375rem;
    }
    .item-card{
        width: 100%;
        max-width: 25.3125rem;
        background-color: $white;
    }
}

.blog{
    padding: 3.75rem 0 8rem;
    h2{
        margin-bottom: 4rem;
    }
    .card-blog{
        width: 100%;
        max-width: 25.3125rem;
        p:not(.descri-conteudo){
            margin-top: 2.5rem;
        }
        .descri-conteudo{
            margin-bottom:2rem;
        }
        a{
            color: $color-text-1;
        }
    }
}

footer{
    .footer-top{
        padding-top: 6.5rem;
        background-color: $background-color-1;
    }
    .text{
        color:$white;
        .logo-descri,.contact{
            width: 100%;
            max-width: 25rem;
        }
    }
    .more-contact{
        background-color:$background-color-2;
        width: 100%;
        max-width: 32.3125rem;
        padding: 18px 37px 16px;
    }
    .footer-bottom{
        padding: 2rem 0;
    }
}