/* Imports */
/* Color - text */
h1 {
  font-size: 54px !important;
  line-height: 74px; /* 137.037% */
}

h2 {
  font-size: 48px !important;
  line-height: 64px;
}

h4 {
  font-size: 24px;
  line-height: 36px; /* 150% */
}

h5 {
  font-size: 24px !important;
  line-height: 150% !important;
}

p {
  line-height: 28px; /* 175% */
}

@media (max-width: 560px) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 32px !important;
  }
}
/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #282938;
}

html, body {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  padding: 1rem 0;
  background-color: #1C1E53;
}
header a, header .btn-contact {
  color: #fff;
}
header .navbar {
  background-color: #1C1E53 !important;
}
header .navbar-toggler {
  color: #fff !important;
  background-color: white;
}

.hero {
  padding: 9.375rem 0 8.125rem;
  background-color: #1C1E53;
}
.hero .text-left {
  max-width: 36.375rem;
}
.hero .text-left .btn-view {
  background-color: #FCD980;
  padding: 0 3.5rem;
}
.hero .ilustration {
  max-width: 39.875rem;
}

.how-work {
  padding: 8.125rem 0;
  background-color: #F4F6FC;
}

.text-left {
  max-width: 25rem;
}
.text-left a {
  color: #2405F2;
}

.right-grid {
  max-width: 43.75rem;
}
.right-grid .item-grid {
  max-width: 18.9375rem;
}
.right-grid .item-grid img {
  width: 3.125rem;
}

.view-projects {
  padding: 8rem 0 9.375rem;
}
.view-projects .header {
  margin-bottom: 4rem;
}
.view-projects .image-large {
  position: relative;
}
.view-projects .image-large::before {
  content: "";
  background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1;
}
.view-projects .image-large .text {
  position: absolute;
  z-index: 2;
  bottom: 4.75rem;
  left: 3rem;
  max-width: 19.5625rem;
}
.view-projects .image-large .text a {
  color: #FCD980;
}
.view-projects .content-cards .mini-card {
  position: relative;
}
.view-projects .content-cards .mini-card::before {
  content: "";
  background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.view-projects .content-cards .text {
  position: absolute;
  bottom: 2.625rem;
  left: 3.5rem;
  max-width: 15.625rem;
  z-index: 2;
}
.view-projects .content-cards .text a {
  color: #FCD980;
}

.services {
  padding: 8rem 0;
  background-color: #F4F6FC;
}
.services h2 {
  max-width: 39.375rem;
}
.services .item-card {
  width: 100%;
  max-width: 25.3125rem;
  background-color: #fff;
}

.blog {
  padding: 3.75rem 0 8rem;
}
.blog h2 {
  margin-bottom: 4rem;
}
.blog .card-blog {
  width: 100%;
  max-width: 25.3125rem;
}
.blog .card-blog p:not(.descri-conteudo) {
  margin-top: 2.5rem;
}
.blog .card-blog .descri-conteudo {
  margin-bottom: 2rem;
}
.blog .card-blog a {
  color: #282938;
}

footer .footer-top {
  padding-top: 6.5rem;
  background-color: #1C1E53;
}
footer .text {
  color: #fff;
}
footer .text .logo-descri, footer .text .contact {
  width: 100%;
  max-width: 25rem;
}
footer .more-contact {
  background-color: #FCD980;
  width: 100%;
  max-width: 32.3125rem;
  padding: 18px 37px 16px;
}
footer .footer-bottom {
  padding: 2rem 0;
}

@media (max-width: 560px) {
  .none-mobile {
    display: none !important;
  }
  .hero {
    padding: 2rem 0 3rem;
  }
  .hero .text-left {
    max-width: 36.375rem;
  }
  .hero .text-left .btn-view {
    background-color: #FCD980;
    padding: 0 3.5rem;
  }
  .hero .btn-view {
    padding: 8px 24px !important;
  }
  .hero .btns {
    gap: 24px !important;
    margin: 0 auto;
  }
  .how-work {
    padding: 2rem 0;
  }
  .how-work .container > div {
    flex-direction: column;
    gap: 2rem;
  }
  .how-work .container > div .l1, .how-work .container > div .l2 {
    flex-direction: column;
  }
  .text-left {
    text-align: center;
  }
  .right-grid {
    justify-content: center;
  }
  .item-grid {
    align-items: center;
  }
  .item-grid p {
    text-align: center;
  }
  .view-projects {
    padding: 32px 0;
  }
  .view-projects .header {
    flex-direction: column;
    margin-bottom: 32px;
  }
  .view-projects .content-cards {
    display: none !important;
  }
  .view-projects .image-large img {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
